@media (max-width: 1300px) {

    /* main 컨테이너 */
    .main_container {
        height: 100vh;
    }

    h1>img {
        width: 300px;
    }

    .main_text_content {
        font-size: 60px;
    }

    /* recommend 컨테이너 */
    .tab-button {
        width: 300px;
        height: 60px;
        padding: 20px 16px;
        font-size: 20px;
    }

    .content_box>h2 {
        font-size: 40px;
    }

    /* top 컨테이너 */
    .top_container {
        width: 1000px;
        margin: 100px auto;
    }

    .top_container>h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .top_content {
        margin-bottom: 10px;
    }

    .first_box {
        width: 400px;
    }

    .big_common_h3 {
        font-size: 24px;
    }

    /* new 컨테이너 */
    .new_container {
        max-width: 1000px;
        margin: 100px auto;
    }

    .new_container>h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .new_text_content {
        font-size: 60px;
    }

    .new1 {
        top: 60px;
        right: 120px;
        width: 350px;
    }

    .new2 {
        width: 350px;
        top: 230px;
        left: 50px;
    }

    .new3 {
        width: 280px;
        right: 120px;
        top: 400px;
    }

    /* location 컨테이너 */
    .location_container {
        padding: 80px 0;
    }

    .location_full_content>h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .location_full_content {
        max-width: 1000px;
    }

    .bottom_img_box>img {
        width: 220px;
    }

    /* footer */
    footer {
        height: 300px;
        padding: 60px;
    }

    .logo {
        width: 200px;
    }
}

@media (max-width: 1024px) {

    /* main 컨테이너 */
    h1>img {
        width: 250px;
    }

    .main_text_content {
        font-size: 42px;
    }
    
    /* top 컨테이너 */
    .top_container {
        width: 700px;
        height: auto;
        margin: 80px auto;
    }

    .top_container>h2 {
        font-size: 36px;
    }

    .top_content {
        margin-bottom: 22px;
    }

    .first_box,
    .second_box,
    .third_box {
        width: 220px;
        height: 400px
    }

    .third_top_box {
        height: 200px;
    }

    .third_bottom_box {
        height: 180px;
    }

    .first_box,
    .fifth_box {
        padding: 16px;
    }

    .big_common_h3,
    .common_h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .big_common_p,
    .common_p {
        font-size: 14px;
    }

    /* new 컨테이너 */
    .new_container {
        max-width: 700px;
        margin: 60px auto;
        height: 700px;
    }

    .new_container>h2 {
        font-size: 36px;
    }

    .new_text_content {
        font-size: 48px;
    }

    .new1 {
        top: 60px;
        right: 90px;
        width: 250px;
    }

    .new2 {
        width: 250px;
        top: 220px;
        left: 30px;
    }

    .new3 {
        width: 220px;
        right: 60px;
        top: 340px;
    }

    /* location 컨테이너 */
    .location_container {
        padding: 60px 0;
    }

    .location_full_content>h2 {
        font-size: 36px;
    }

    .location_full_content {
        max-width: 700px;
    }

    .loction_content {
        display: block;
    }

    .left_content,
    .right_content {
        width: 100%;
    }

    .bottom_box {
        display: none;
    }

    .right_content>iframe {
        height: 300px;
    }

    /* footer */
    footer {
        height: 250px;
        padding: 50px;
    }

    .logo {
        width: 160px;
    }

    .tel {
        margin-top: 30px;
        margin-bottom: 24px;
    }

    .tel>p,
    .service>p {
        font-size: 14px;
    }
}

@media (max-width: 700px) {

    /* main 컨테이너 */
    h1>img {
        width: 150px;
    }
    /* 메인이미지 */

    .main_text_content {
        font-size: 24px;
    }

    /* top 컨테이너 */
    .top_container {
        width: 360px;
        height: auto;
        margin: 60px auto;
        box-sizing: border-box;
    }

    .top_content {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .first_box,
    .second_box {
        width: 160px;
        height: 180px;
        margin-bottom: 16px;
    }

    .third_box {
        flex-direction: row;
        width: 360px;
        height: 180px;
        margin-bottom: 16px;
    }

    .third_top_box {
        width: 160px;
        height: 180px;
        border-radius: 0;
    }

    .third_bottom_box {
        width: 160px;
    }

    .fifth_box {
        height: 160px;
    }

    .big_common_h3,
    .common_h3 {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
    }

    .big_common_p,
    .common_p {
        display: none;
    }

    /* new 컨테이너 */
    .new_container {
        max-width: 360px;
        height: 500px;
        box-sizing: border-box;
    }

    .new_text_content {
        font-size: 28px;
    }

    .new1 {
        top: 30px;
        right: 32px;
        width: 150px;
    }

    .new2 {
        width: 120px;
        top: 140px;
        left: 28px;
    }

    .new3 {
        width: 130px;
        right: 25px;
        top: 256px;
    }

    /* location 컨테이너 */
    .location_container {
        padding: 48px 0;
    }

    .location_full_content {
        max-width: 360px;
    }

    .right_content>iframe {
        height: 200px;
    }

    /* footer */
    footer {
        height: 230px;
        padding: 40px;
    }

    .logo {
        width: 120px;
    }

    .tel {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .tel>p,
    .service>p {
        font-size: 12px;
    }

}